/*Copyright Robert Feather, Kevin Kowalsky*/

body{
    
font-family: PT Sans Pro,sans-serif 
 
 }
 h1{
    color: blue;
    font-size:200%;
    margin-top: 0px;
    text-align: center;
    
     
 }
 body{
    border-color: blue;
    border-style: solid;
    height: 200px;
 }

 footer{
    border-top: solid;
    border-color: blue;
 }
 input{
    display: inline-block;
 }
 section{
    text-align: center;
 }
 
 .center1{
     padding-left: 2px;
 }
 
 .center3{
     padding-left: 20px;
 }
 
 .calculateButton{
     margin-top: 10px;
     margin-bottom: 10px;
 }
 
 @Media(max-width: 400px){
    input{
      display: block;
    }
    
    body{
      height: 300px;
    }
    
    
    
    
<<<<<<< HEAD
    }

   
=======
    }
>>>>>>> 0a55b2001bc5a4b73092f86a200b4ed4871d02af
